[submodule "Plugins/rclUE"]
	path = Plugins/rclUE
        url = https://github.com/robosoft-ai/rclUE.git
	
#url = https://github.com/rapyuta-robotics/rclUE.git
        

[submodule "Plugins/RapyutaSimulationPlugins"]
	path = Plugins/RapyutaSimulationPlugins
	url = https://github.com/robosoft-ai/UE-Plugins.git 
	branch = feature/warthog_4wheels
# https://github.com/rapyuta-robotics/RapyutaSimulationPlugins.git
